# Python
venv/
env/
__pycache__/
*.pyc

# PyCharm/IntelliJ
.idea/

# Базы данных
*.sqlite3
*.db

feature/pages
# Streamlit
.streamlit/secrets.toml

# PyCharm / IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Базы данных
*.sqlite3
*.db
*.sqlite

# Системные файлы
.DS_Store
Thumbs.db